<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">

  <test name="Test on firefox">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="com.hcentive.automation.assessment.tests.RegressionSuite"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Test on chrome">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.hcentive.automation.assessment.tests.RegressionSuite"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
